* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.App {
    max-width: 1550px;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    box-shadow: 0 5px 6px rgb(244, 205, 119);
    padding: 0 15px;
    box-sizing: border-box;
}

/* ---------------------------HEADER--------------------------------------- */

header {
    width: 97%;
    min-height: 100px;
    max-width: 1530px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    box-sizing: border-box;
    background-color: wheat;
    box-shadow: 0 5px 10px grey;
}



a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding-top: 2%;
}

a:hover {
    color: brown;
}

li{
    list-style: none;
}

header ul{
    display: flex;
    justify-content: center;
    font-size: 22px;
    gap: 25%;
    text-decoration: none;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    color: brown;
}


header ul li{
    padding: 0 1rem;
}

header ul li a{
    font-weight: bold;
}

header .carti_icon{
    position: relative;
    cursor: pointer;
}

header .carti_icon span{
    position: absolute;
    top: -1rem;
    right: -1.5rem;
    width: 1.8rem;
    height: -2.5rem;
    border: 1px solid red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 0rem;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: red;
}

/* ----------------------------- Inicio ---------------------------------- */

.Inicio{
    width: 100%;
    margin: 0 auto;
    padding-top: 9rem;
}

.Inicio h1{
    text-align: left;
    font-size: 2.5rem;
    color: brown;
}

.Inicio img{
    width: 50%;
    height: 70%;
    padding-top: 45px;
}

/* ----------------------------- Productos ---------------------------- */

.title{
    font-size: 2.4rem;
    padding: 10rem 0 0 0;
    color:burlywood;
}

.productos{
    padding: 5rem 1rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(22rem , 1fr));
    gap: 3rem 2rem;
    box-sizing: border-box;
}

.producto{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    box-shadow: 1px 10px 10px 2px rgba(0, 0, 0, .2);
    border: 6px solid transparent;
    border-radius: 5px;
}

.producto:hover{
    border: 6px solid rgba(222, 184, 135, 0.67);
}

.producto_imagen img{
    width: 310px;
}

.producto_footer{
    padding: 1rem;
}

.producto_footer h1{
    font-weight: 600;
    font-size: 1.5rem;
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
}

.producto_footer p{
    font-weight: 700;
    color: rgb(0, 0, 0 , .555);
    text-transform: uppercase;
    font-size: 18px;
}

.producto_footer .price{
    font-size: 2rem;
    color: rgba(165, 42, 42, 0.576);
}

.producto .Buttom{
    width: 100%;
    height: 45px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem 2rem;
}

.Buttom btn{
    border:none;
    outline: 0;
    cursor: pointer;
    border-radius: 5px;
}

.Buttom button{
    background-color: rgba(200, 124, 42, 0.813);
    max-width: 250px;
    width: 100%;
    font-size: 1.5rem;
    color: white;
    font-weight: 600;
    border-radius: 5px;
}

.Buttom div{
    background-color: burlywood;
    display: grid;
    align-items: center;
    text-align: center;
    margin-left: -2rem;
    border-radius: 5px;
}

.Buttom div a{
    color: white;
    font-weight: 700;
}

.Buttom div a:hover{
    color: brown;
}

/* -------------------------------- CART ------------------------------------------ */
.carritos{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    transition: all 300ms ease-in-out;
    background-color: rgb(0, 0, 0, .1);
    z-index: 2;
    padding-bottom: 5rem;
    /* visibility: hidden;  */
}

.cart{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%)
    scale(1);
    width: 70;
    height: 80%;
    border-radius: 8px;
    overflow-x: scroll;
    transition: all 300ms ease-in-out;
    background-color: black;
     opacity:0; 
     /* visibility:hidden;  */
}

.cart h2{
    text-align: center;
    font-size: 2rem;
}

.cart .show{
    visibility: visible;
}

.cart .show{
    transform:translate(-50% , -50%);
    scale: (1.1);
    opacity: 1;
    /* visibility: hidden; */
}

.cart_close span{
    display: inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transform: all 300ms ease-in-out;
    margin: 3rem 0 0 2rem;
}

.cart_close box-icon:hover {
    fill:red; 
}

.carrito_center{
    width: 90%;
    margin: 0 auto;
}

.carrito_item{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    width: 80%;
    margin: 2rem auto;
    box-shadow: 0 1px 10px brown;
    border-radius: 5px;
}

.carrito_item img{
    width:15px;
}

@media only screen and (max-width: 600px){
    header ul{
        display: none;
    }
}